In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
data = pd.read_csv("Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
data.tail()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [20]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [ ]:

label=LabelEncoder()
data["Gender"] = label.fit_transform(data["Gender"])

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
oneHot= OneHotEncoder(sparse_output=False)
geo_encode= oneHot.fit_transform(data[["Geography"]])

In [10]:
oneHot.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_encode

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]], shape=(10000, 3))

In [12]:
geo_encoded_df=pd.DataFrame(geo_encode,columns=oneHot.get_feature_names_out(["Geography"]))

In [13]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [21]:
data = data.drop("Geography",axis=1)

In [22]:
data= pd.concat([data,geo_encoded_df],axis=1)

In [23]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [29]:
with open("label_encoder.pkl","wb") as file:
    pickle.dump(label,file)

In [30]:
with open("oneHot.pkl","wb") as file:
    pickle.dump(oneHot,file)

In [26]:
X=data.drop("Exited",axis=1)
y=data["Exited"]

In [27]:
x_train,x_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=42)

In [28]:
scalar = StandardScaler()
X_train = scalar.fit_transform(x_train)
X_test = scalar.transform(x_test)

In [31]:
with open("scalar.pkl" ,"wb") as file:
    pickle.dump(scalar,file)

In [32]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [33]:
model = Sequential([
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),
    Dense(32,activation="relu"),
    Dense(1,activation="sigmoid")
]
)

c:\Users\vinay desh\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [35]:
from tensorflow.keras.optimizers import Adam
opt = Adam(learning_rate=0.01)
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [36]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
TensorBoard_callBack = TensorBoard(log_dir=log_dir,histogram_freq=1)
EarlyStopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [37]:
history = model.fit(
    X_train,y_train,
    validation_data =(X_test,y_test),
    epochs=100,
    callbacks=[TensorBoard_callBack,EarlyStopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 8ms/step - accuracy: 0.8381 - loss: 0.3915 - val_accuracy: 0.8550 - val_loss: 0.3612
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8558 - loss: 0.3561 - val_accuracy: 0.8550 - val_loss: 0.3459
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8584 - loss: 0.3483 - val_accuracy: 0.8590 - val_loss: 0.3378
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8608 - loss: 0.3415 - val_accuracy: 0.8595 - val_loss: 0.3420
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8614 - loss: 0.3393 - val_accuracy: 0.8580 - val_loss: 0.3469
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8615 - loss: 0.3359 - val_accuracy: 0.8605 - val_loss: 0.3391
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8659 - loss: 0.3338 - val_accuracy: 0.8545 - val_loss: 0.3495
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8644 - loss: 0.3333 - val_accuracy: 0.8615 - val_loss: 0.3414
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8641 - loss: 0.3315 - val_accuracy: 0.8590 - val_loss: 0.3532
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8687 - loss: 0.3276 - val_accuracy: 0.8600 - val_loss: 0.3461
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - accuracy: 0.8656 - loss: 0.3267 - val_accuracy: 0.8590 - val_loss: 0.3419
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8675 - loss: 0.3253 - val_accuracy: 0.8570 - val_loss: 0.3473
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8683 - loss: 0.3225 - val_accuracy: 0.8525 - val_loss: 0.3529

In [110]:
model.save('model2.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [40]:
%load_ext tensorboard
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 25460), started 9 days, 18:02:45 ago. (Use '!kill 25460' to kill it.)

In [41]:
from tensorflow.keras.models import load_model
import pickle

In [42]:
model = load_model("model2.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [43]:
with open("label_encoder.pkl","rb") as file:
    label = pickle.load(file)

In [44]:
with open("oneHot.pkl","rb") as file:
    oneHot = pickle.load(file)

In [46]:
with open("scalar.pkl" , "rb") as file:
    scalar = pickle.load(file)

In [71]:
input_data = {
    'CreditScore': [600],
    'Geography': ['France'],
    'Gender': ['Male'],
    'Age': [40],
    'Tenure': [3],
    'Balance': [60000],
    'NumOfProducts': [2],
    'HasCrCard': [1],          # 1 = Yes, 0 = No
    'IsActiveMember': [1],     # 1 = Active, 0 = Not Active
    'EstimatedSalary': [50000]
}

input_data = pd.DataFrame(input_data)

In [72]:
geo_data = oneHot.transform(input_data[['Geography']])
geo_data

array([[1., 0., 0.]])

In [73]:
oneHot.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [74]:
geo_dataFrame = pd.DataFrame(geo_data,columns=oneHot.get_feature_names_out(['Geography']))

In [75]:
input_df = pd.concat([input_data.drop('Geography',axis=1),geo_dataFrame],axis=1)

In [78]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [79]:
label_data = label.transform(input_df["Gender"])

In [80]:
input_df["Gender"]=label_data

In [81]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [82]:
input_scalar = scalar.transform(input_df)

In [85]:
prediction=model.predict(input_scalar)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 90ms/step

In [86]:
if prediction[0][0] > 0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn.")

The customer is not likely to churn.

In [92]:
from tensorflow.keras.models import load_model

In [109]:
model = load_model("model2.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [94]:
import numpy as np

In [95]:
import streamlit as st

In [96]:
st.title('Customer Churn Prediction')

2025-09-14 18:05:49.403 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-14 18:05:50.047
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\vinay desh\venv\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-09-14 18:05:50.049 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-14 18:05:50.049 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [105]:
geography = st.selectbox("Geography",oneHot.categories_[0])

2025-09-14 18:09:48.143 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-14 18:09:48.145 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-14 18:09:48.166 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-14 18:09:48.178 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-14 18:09:48.180 Session state does not function when running a script without `streamlit run`
2025-09-14 18:09:48.181 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-14 18:09:48.183 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-14 18:09:48.183 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [108]:
label.classes_

array(['Female', 'Male'], dtype=object)